#header {
  font-size: 3em;
  margin: 10px;
  color: rgb(255, 255, 255);
  display: block;
  text-align: center;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

#header:hover {
  text-decoration: underline;
}

#header:active {
  text-decoration: underline rgb(255, 136, 0);
}

#NC {
  color: red;
}

.nav-button {
  margin-left: 3%;
  margin-right: 3%;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}

.nav-button:active {
  color: rgb(255, 136, 0);
  font-weight: 500;
  font-size: larger;
}

#navigation-bar {
  background-color: rgb(116, 5, 5);
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  padding: 20px;
  justify-content: center;
  transition: transform 2s ease;
}

.article-card {
  width: 250px;
  height: 406px;
  position: relative;
  border: 2px solid grey;
  border-radius: 20px 20px 20px 20px;
  margin: 5px;
}

.article-card-img {
  width: 100%;
  height: 50%;
  border-radius: 18px 18px 0 0;
}

.article-card-title {
  margin-top: 10px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}

.article-card-author {
  font-weight: 450;
  padding: 10px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.read-button {
  position: absolute;
  top: 90%;
  left: 30%;
  right: 30%;
}

#article-page {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  margin: 10px;
}

#article-page-author {
  display: block;
}

#article-author-avatar {
  max-height: 80px;
  max-width: 150px;
  border: 2px solid grey;
  margin-right: 5px;
  margin-bottom: 5px;
}

#article-page-byline{
  display: inline-flex;
}

#article-page-img {
  display: block;
  width: 90%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border: 2px solid grey;
}

#article-page-body {
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}

#article-page-votes {
  text-align: center;
  border-bottom: gray dotted;
  margin-bottom: 10px;
}

#article-votes{
  font-weight: 600;
}

#article-page-comment-count {
  text-align: center;
  margin-left: 10px;
  font-weight: 600;
}

.article-vote-buttons {
  margin-bottom: 20px;
}

.article-like-button {
  margin-right: 10px;
}

.article-dislike-button {
  margin-left: 10px;
}

.comments-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  padding: 20px;
  justify-content: center;
  transition: transform 2s ease;
}

.comment-card {
  border-radius: 10px 10px 10px 10px;
  margin: 5px;
  padding: 5px;
  width: 250px;
  height: 400px;
  position: relative;
  border: 2px solid grey;
}

.comment-avatar{
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 10px;
  border: 2px solid gray;
}

.comment-author {
  line-height: 2;
  display: inline-block;
}

.comment-author-container{
  border-bottom: 2px solid grey;
}

.comment-published {
  font-size: medium;
  font-style: italic;
  line-height: 2;
}

.comment-body {
  overflow: auto;
  height: 180px;
}

.comment-votes {
  text-align: center;
}

.comment-vote-buttons {
  text-align: center;
}

#comment-body-label {
  display: block;
}

#comment-body{
  width: 250px;
  height: 180px;
}

#comment-form-submit{
  margin-bottom: 5px;
}